.banners__item
    position: relative
    float: left
    width: 50%
    a 
        display: block
        height: 340px
        padding: 5px
    img
        width: 100%
        height: 100%
    span 
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: #ffffff
        background: #FFCC00
        text-transform: uppercase
        font-size: 18px
        padding: 10px
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
@media screen and (max-width: 992px)
    .banners__item
        width: 100%